@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Titillium+Web:wght@700;900&family=Material+Icons&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #58af9b;
    font-family: 'Roboto', sans-serif;
}

#wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.syringe-body {
    width: 60px;
    height: 180px;
    background: #fff;
    position: relative;
    transform: rotate(25deg);
}

.syringe-body:before {
    content: "";
    position: absolute;
    top: 0;
    width: 85px;
    left: 50%;
    transform: translateX(-50%);
    height: 8px;
    background: #fff;
    border-radius: 5px;
}

.syringe-body .tip-needle {
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    width: 20px;
    height: 20px;
    background: #524f4f;
}

.syringe-body .tip-needle:before {
    content: "";
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    height: 40px;
    background: #e8e2e2;
}

.syringe-body .syringe-handle {
    position: absolute;
    top: -54px;
    left: 50%;
    transform: translateX(-50%);
    width: 25px;
    height: 55px;
    background: #fff;
    animation: press 5s linear infinite;
}

.syringe-body .syringe-handle:before {
    content: "";
    position: absolute;
    top: 0;
    width: 60px;
    left: 50%;
    transform: translateX(-50%);
    height: 8px;
    background: #fff;
    border-radius: 5px;
}

.syringe-body .measurements {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    width: 50%;
    height: 80%;
}

.syringe-body .measurements>div {
    width: 100%;
    height: 2px;
    background: #979797;
    margin-top: 7px;
    float: right;
}

.syringe-body .measurements>div:nth-child(odd) {
    width: 50%;
}

.syringe-body .liquid {
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 80%;
    background: #d2f1d2;
    animation: liquid_fall 5s linear infinite;
}

.drop_1,
.drop_2 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 10px;
    height: 10px;
    background: #d2f1d2;
    border-radius: 50%;
    opacity: 0;
}

.drop_1 {
    bottom: -73px;
    animation: fall 5s linear infinite;
}

.drop_2 {
    bottom: -73px;
    animation: fall_1 4s linear 2s infinite;
}

.drop_1:before,
.drop_2:before {
    content: "";
    position: absolute;
    top: -6px;
    left: 1px;
    border: 4px solid;
    border-color: transparent transparent #d2f1d2;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ecf0f1;
}

.content {
    background-color: #fff;
    border-radius: 15px;
    width: 80%;
    height: 92%;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.content::before {
    content: "";
    position: absolute;
    background-color: #3c25ed;
    width: 40%;
    height: 100%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    left: 0;
}

.btn {
    border-radius: 8px;
    text-transform: uppercase;
    color: #fff;
    font-size: 10px;
    padding: 10px 50px;
    cursor: pointer;
    font-weight: bold;
    border: none;
}

.btn-primary {
    background-color: transparent;
    border: 1px solid #fff;
    transition: background-color .3s;
}

.btn-primary:hover {
    background-color: #fff;
    color: #3c25ed;
}

.btn-second {
    margin-top: 8px;
    background-color: #3c25ed;
    border: 1px solid #3c25ed;
    text-align: center;
    transition: background-color .3s;
}

.btn-second:hover {
    background-color: #fff;
    border: 1px solid #3c25ed;
    color: #3c25ed;
}

.btn-group {
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    margin-top: 6px;
}

.btn-group .btn {
    height: 44px;
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
}

.btn-group #client.btn.btn-second:nth-child(1) {
    background-color: #58af9b;
    border: 1px solid rgba(87, 88, 87, 0.3);
}

.btn-group #client.btn.btn-second:nth-child(1):hover {
    background-color: #fff;
    color: #3c25ed;
    border-color: #3c25ed;
}

.first-content {
    display: flex;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.first-content .second-column {
    z-index: 11;
}

.first-column {
    text-align: center;
    width: 40%;
    z-index: 10;
}

.first-column h2,
.first-column p {
    color: #667172;
    margin-bottom: 16px;
    color: #fff;
}

.first-column h2 {
    font-weight: bolder;
    font-size: 32px;
}

.first-column img {
    width: 95%;
}

.second-column {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #696b6b;
}

.second-column h2 {
    font-weight: bolder;
    font-size: 32px;
    margin-bottom: 16px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 32px;
    margin-bottom: 8px;
}

legend {
    font-weight: 500;
    text-align: left;
}

input {
    padding: 8px;
    font-weight: 24px;
    line-height: 24px;
    width: 24rem;
    border: none;
    outline: none;
    border-radius: 8px;
    transition: .3s;
}

input[type="radio"]:checked+label {
    transition: 0.3s;
    color: black;
}

input:not(:placeholder-shown) {
    background: #b9beb9;
}

input:placeholder-shown {
    background: #d9deda;
}

input::placeholder {
    color: #1b1717;
    opacity: 0.5;
    font-weight: bolder;
}

/* Remove arrow do input type number */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

input[type=date] {
    font-family: 'Roboto', sans-serif;
}

.input-group {
    display: flex;
    justify-content: space-around;
    gap: 4px;
    align-items: center;
}

.input-box {
    color: #7f8c8d;
}

.input-box input {
    width: 16px;
}

.input-box-passwd {
    display: flex;
    align-items: center;
    width: 24rem;
    background: #c9d1ca;
    border-radius: 8px;
}

.input-box-passwd input[type=password],
.input-box-passwd input[type=text] {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.input-box-passwd #eyeicon-registration,
.input-box-passwd #eyeicon-login {
    width: 24px;
    margin-left: 4px;
    margin-right: 4px;
    cursor: pointer;
}

.alert-error {
    font-size: 14px;
    font-weight: 600;
    color: #fd2222;
    margin-bottom: -8px;
}

.second-content {
    position: absolute;
    display: flex;
}

.second-content .first-column {
    order: 2;
    z-index: -1;
}

.second-content .second-column {
    order: 1;
    z-index: -1;
}

.sign-in .first-content .first-column {
    z-index: -1;
}

.sign-in .second-content .second-column {
    z-index: 11;
}

.sign-in .second-content .first-column {
    z-index: 13;
}

.sign-in .content::before {
    left: 60%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    animation: slidein 0.9s;
    z-index: 12;
}

.sign-up .content::before {
    animation: slideout 0.9s;
    z-index: 12;
}

.sign-up .first-content .first-column {
    z-index: 13;
}

.sign-in .first-content .second-column {
    z-index: -1;
    position: relative;
}

/* Erro 404 */
#notfound {
    position: relative;
    height: 100vh;
    background-image: url("../assets/images/bg_error.jpg");
    background-position: center;
    background-size: 50%;
}

#notfound .notfound {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.notfound {
    max-width: 720px;
    width: 100%;
    line-height: 1.4;
    padding: 0px 15px;
    color: #fff;
    background: rgba(41, 8, 8, 0.25);
    box-shadow: 0 8px 32px 0 rgba(2, 2, 7, 0.4);
    padding: 2rem;
    backdrop-filter: blur(1rem);
    -webkit-backdrop-filter: blur(1rem);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.notfound .notfound-404 {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.notfound .notfound-404 h1 {
    font-family: 'Titillium Web', sans-serif;
    font-size: 240px;
    font-weight: 900;
    margin: 0px;
    text-transform: uppercase;
    background: url("../assets/images/text.png");
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: cover;
    background-position: center;
}

.notfound .notfound-404 img {
    height: 20rem;
}

.notfound h2 {
    font-family: 'Titillium Web', sans-serif;
    font-size: 26px;
    font-weight: 700;
    margin: 0;
}

.notfound p {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 0px;
    text-transform: uppercase;
}

.notfound a {
    font-family: 'Titillium Web', sans-serif;
    display: inline-block;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    border: none;
    background: #5c91fe;
    padding: 10px 40px;
    font-size: 14px;
    font-weight: 700;
    border-radius: 4px;
    margin-top: 15px;
    -webkit-transition: 0.3s all;
    transition: 0.3s all;
    opacity: 0.7.5;
}

.notfound a:hover {
    background: #0b55eb;
    opacity: 1;
}

/* Fim erro 404 */

/* Dash */
#toggle {
    position: fixed;
    top: 4px;
    right: 8px;
    width: 28px;
    height: 28px;
    border-radius: 4px;
    background: #3c25ed;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.2);
}

#toggle:hover {
    background: #979797;
}

#toggle::before {
    content: '';
    position: absolute;
    width: 16px;
    height: 2px;
    background: #fff;
    transform: translateY(-4px);
    transition: 0.3s;
}

#toggle::after {
    content: '';
    position: absolute;
    width: 16px;
    height: 2px;
    background: #fff;
    transform: translateY(4px);
    transition: 0.3s;
}

#toggle.active {
    background: #F19090;
}

#toggle.active:hover {
    background: #979797;
}

#toggle.active::before {
    transform: translateY(0px) rotate(45deg);
}

#toggle.active::after {
    transform: translateY(0px) rotate(-45deg);
}

#sidebar {
    position: fixed;
    top: 0;
    left: -400px;
    width: 400px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #fff;
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    z-index: 10;
}

#sidebar.active {
    left: 0px;
}

#sidebar .info-container {
    padding: 8px;
}

#sidebar .info-container .avatar-box {
    text-align: right;
    margin-bottom: 8px;
    padding: 8px 0;
}

#sidebar .info-container .avatar-box i {
    width: 80px;
    line-height: 80px;
    font-size: 3em;
    text-align: center;
    border-radius: 50%;
    margin-right: 2px;
    background-color: #ecf0f1;
    color: #979797;
    border: 1px solid rgba(86, 88, 86, 0.1);
}

#sidebar .info-container h1 {
    font-size: 22px;
    font-weight: 500;
    color: rgba(27, 23, 23, 0.7);
    line-height: 36px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

#sidebar .info-container .info {
    margin-top: 22px;
    font-size: 16px;
    font-weight: 400;
    color: #667172;
}

#sidebar .info-container .info h2 {
    margin-bottom: 16px;
}

#sidebar a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 16px 8px;
    color: #fd2222;
    font-weight: bold;
    text-decoration: none;
    font-size: 16px;
    border-top: 1px solid #f19090da;
    transition: 0.3s;
}

#sidebar a:hover {
    color: #fff;
    background: rgba(163, 23, 23, 0.7);
    font-weight: 500;
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
}

.modal-open {
    overflow: hidden;
}

.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
}

.fade {
    opacity: 0;
    -webkit-transition: opacity .15s linear;
    -o-transition: opacity .15s linear;
    transition: opacity .15s linear;
}

.fade.in {
    opacity: 1;
}

.modal.fade .modal-dialog {
    -webkit-transition: -webkit-transform .3s ease-out;
    -o-transition: -o-transform .3s ease-out;
    transition: transform .3s ease-out;
    -webkit-transform: translate(0, -25%);
    -ms-transform: translate(0, -25%);
    -o-transform: translate(0, -25%);
    transform: translate(0, -25%);
}

.modal.in .modal-dialog {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
}

.modal-header {
    padding: 8px 16px;
    border-bottom: 1px solid #e5e5e5;
}

.modal-header h3 {
    display: inline;
    line-height: 32px;
    font-weight: bold;
}

.modal-header button.close {
    margin-top: 0;
    font-size: 32px;
    transition: color 0.3s;
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
}

.close {
    float: right;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
}

.modal-header .close {
    margin-top: -2px;
}

.modal-header button.close:hover {
    opacity: 1;
    color: red;
    text-decoration: none;
    cursor: pointer;
    filter: alpha(opacity=50);
}

.modal-title {
    margin: 0;
    line-height: 1.42857143;
}

.modal-dialog {
    position: relative;
    width: auto;
    margin: 10px;
}

.modal-content {
    position: relative;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 6px;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
}

.modal-content form {
    display: block;
    margin-top: 0;
    margin-bottom: 0;
}

.modal-body {
    position: relative;
    padding: 15px 16px;
}

.modal-body label {
    display: block;
    margin-top: 20px;
}

.modal-body .box-info {
    display: flex;
    justify-content: space-between;
}

.modal-body label:first-child {
    margin-top: 0;
}

.modal-body label {
    margin-top: 16px;
}

.modal-body h4,
.modal-body p {
    margin-top: 8px;
    margin-bottom: 8px;
}

.modal-body h4 {
    color: #7f8c8d;
}

.modal-body #info-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;
}

.modal-body #info-container .info-box {
    max-width: 8rem;
}

.modal-content {
    background-color: #fff;
}

#description-registration,
#decription-details {
    width: 100%;
    padding: 2px 4px;
    border-radius: 2px;
    background-color: rgba(204, 204, 204, 0.329);
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2);
}

.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000;
}

.modal-backdrop.in {
    filter: alpha(opacity=50);
    opacity: .5;
}

.modal-scrollbar-measure {
    position: absolute;
    top: -9999px;
    width: 50px;
    height: 50px;
    overflow: scroll;
}

.modal-backdrop.fade {
    filter: alpha(opacity=0);
    opacity: 0;
}

.modal-footer {
    padding: 12px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
}

.modal-footer .btn+.btn {
    margin-bottom: 0;
    margin-left: 5px;
}

.modal-footer .btn-danger {
    background-color: #ec5252;
    transition: background-color .3s;
}

.modal-footer .btn-danger:hover {
    background-color: #fff;
    border: 1px solid #1b1717;
    color: #ec5252;
    transition: 0.3;
}

.modal-footer .btn-second {
    margin-top: 0;
}

.modal-header:before,
.modal-header:after,
.modal-footer:before,
.modal-footer:after {
    display: table;
    content: " ";
}

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.form-control:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
}

.form-control::-moz-placeholder {
    color: #999;
    opacity: 1;
}

.form-control:-ms-input-placeholder {
    color: #999;
}

.form-control::-webkit-input-placeholder {
    color: #999;
}

.form-control::-ms-expand {
    background-color: transparent;
    border: 0;
}

.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
    background-color: #eee;
    opacity: 1;
}

.modal-header:after,
.modal-footer:after {
    clear: both;
}

select {
    background-color: #d1d8d1;
    border-radius: 8px;
    display: inline-block;
    font: inherit;
    line-height: 1.5em;
    padding: 0.5em 3.5em 0.5em 1em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    color: #1b1717;
    opacity: 0.5;
    font-weight: 500;
}

select.minimal {
    background-image:
        linear-gradient(45deg, transparent 50%, black 50%),
        linear-gradient(135deg, black 50%, transparent 50%),
        linear-gradient(to right, #ccc, #ccc);
    background-position:
        calc(100% - 20px) calc(1em + 2px),
        calc(100% - 15px) calc(1em + 2px),
        calc(100% - 2.5em) 0.5em;
    background-size:
        5px 5px,
        5px 5px,
        1px 1.5em;
    background-repeat: no-repeat;
    border: none;
}

select.minimal:focus {
    background-image:
        linear-gradient(45deg, black 50%, transparent 50%),
        linear-gradient(135deg, transparent 50%, black 50%),
        linear-gradient(to right, #ccc, #ccc);
    background-position: calc(100% - 15px) 1em,
        calc(100% - 20px) 1em,
        calc(100% - 2.5em) 0.5em;
    background-size:
        5px 5px,
        5px 5px,
        1px 1.5em;
    background-repeat: no-repeat;
    outline: none;
    background-color: #979797;
    transition: 0.3s;
}

select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
}

select option {
    font-size: 18px;
    background-color: #ecf0f1;
}


#main-container {
    height: 100vh;
    width: 100vw;
    padding: 16px;
    background: #fff;
}

#main-container h1 {
    font-size: 24px;
    color: rgba(0, 0, 0, 0.8);
    font-weight: 500;
}

#main-container form legend {
    margin-top: 16px;
    font-weight: 400;
}

table {
    top: 0;
    width: 100%;
    margin-top: 22px;
    border-collapse: collapse;
    background-color: #ecf0f1;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    border-radius: 4px;
    position: relative;
}

.fixed-header.vaccine-registered tbody {
    overflow: auto;
    height: 290px;
}

.fixed-header tbody {
    overflow: auto;
    height: 190px;
}


.fixed-header thead tr {
    display: block;
}

.fixed-header tbody {
    display: block;
}

.fixed-header th,
.fixed-header td {
    width: 100vw;
}

/* Ja tomadas */
#vaccination-card .table-head td {
    border-radius: 4px;
    color: #fff;
    background-color: rgba(102, 113, 114, 0.5);
    text-align: left;
}

#vaccination-card .table-head tr:hover>td {
    background-color: none;
}

#vaccination-card .table-head tr:last-child>td:first-child {
    border-bottom-left-radius: 0px;
}

#vaccination-card .table-head tr:last-child>td:last-child {
    border-bottom-right-radius: 0px;
}

/* A tomar */
#vaccines-available .table-head td {
    border-radius: 4px;
    color: #fff;
    background-color: #ec5252;
    text-align: left;
}

#vaccines-available .table-head tr:hover>td {
    background-color: none;
}

#vaccines-available .table-head tr:last-child>td:first-child {
    border-bottom-left-radius: 0px;
}

#vaccines-available .table-head tr:last-child>td:last-child {
    border-bottom-right-radius: 0px;
}

thead {
    box-shadow: 0 1px 2px 0 #00000020;
    background-color: #ecf0f1;
    border-radius: 4px;
    font-weight: bold;
    line-height: 42px;
}

thead:before {
    content: "";
    position: absolute;
    top: 0px;
    width: 100%;
    height: 4px;
    border-radius: 4px 4px 0 0;
    background: linear-gradient(90deg, #fb0094, #0000ff, #00ff00, #ffff00, #fb0094, #0000ff, #00ff00, #ffff00, #fb0094);
    background-size: 500%;
    animation: glow 20s linear infinite;
}

#vaccines-available thead:before {
    content: "";
    position: absolute;
    top: 0px;
    width: 100%;
    height: 4px;
    border-radius: 4px 4px 0 0;
    background: linear-gradient(90deg, #0000ff, #fb0094, #ffff00, #fb0094, #0000ff, #00ff00, #ffff00, #fb0094, #0000ff);
    background-size: 500%;
    animation: glow 20s linear infinite;
}

i.material-icons:hover {
    color: #fff;
    transition: 0.3s;
}

thead th {
    text-align: center;
    color: rgba(0, 0, 0, 0.6);
}

tr:nth-child(even) {
    background-color: rgba(60, 37, 237, 0.3);
}

tr:hover>td {
    background: rgba(102, 113, 114, 0.5);
}

tr:last-child>td:first-child {
    border-bottom-left-radius: 4px;
}

tr:last-child>td:last-child {
    border-bottom-right-radius: 4px;
}

.table-head tr td:first-child {
    text-align: center;
    padding: 0 16px;
}

td {
    padding: 4px 0;
    text-align: center;
}

td p {
    width: 15ch;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-left: 80px;
}

/* Fim Dash */

/* Animações */
@keyframes press {
    0% {
        top: -54px;
    }

    100% {
        top: -34px;
    }
}

@keyframes liquid_fall {
    0% {
        height: 80%;
    }

    100% {
        height: 60%;
    }
}

@keyframes fall {
    0% {
        bottom: -73px;
        left: 50%;
        opacity: 1;
    }

    50% {
        bottom: -85px;
        left: 65%;
        opacity: 1;
    }

    100% {
        bottom: -120px;
        left: 75%;
        opacity: 0;
    }
}

@keyframes fall_1 {
    0% {
        bottom: -73px;
        left: 50%;
        opacity: 1;
    }

    50% {
        bottom: -85px;
        left: 65%;
        opacity: 1;
    }

    100% {
        bottom: -120px;
        left: 75%;
        opacity: 0;
    }
}

@keyframes slidein {
    from {
        left: 0;
        width: 40%;
    }

    to {
        left: 60%;
        width: 40%;
    }
}

@keyframes slideout {
    from {
        left: 60%;
        width: 40%;
    }

    to {
        left: 0;
        width: 40%;
    }
}

@keyframes glow {
    0% {
        background-position: 0 0;
    }

    0% {
        background-position: 500% 0;
    }
}

/* Responsividade */
@media screen and (max-width: 840px) {
    .content {
        width: 100%;
        height: 100%;
    }

    .content::before {
        width: 100%;
        height: 28%;
        top: 0;
        border-radius: 0;
    }

    .first-content,
    .second-content {
        flex-direction: column;
        justify-content: space-around;
        gap: 42px;
    }

    .first-column,
    .second-column {
        width: 100%;
    }

    .sign-in .content::before {
        top: 60%;
        left: 0;
        height: 40%;
        border-radius: 0;
    }

    #btn-box {
        margin-top: -30%;
    }

    @keyframes slidein {
        from {
            top: 0;
            height: 40%;
        }

        to {
            top: 60%;
            height: 40%;
        }
    }

    @keyframes slideout {
        from {
            top: 60%;
            height: 40%;
        }

        to {
            top: 0;
            height: 28%;
        }
    }
}

@media (min-width: 992px) {
    .modal-lg {
        width: 900px;
    }
}

@media only screen and (max-width: 767px) {
    .notfound .notfound-404 {
        height: 110px;
        line-height: 110px;
    }

    .notfound .notfound-404 h1 {
        font-size: 120px;
    }

    .notfound .notfound-404 img {
        display: none;
    }

    .notfound a {
        text-align: center;
        width: 100%;
    }
}

@media (min-width: 768px) {
    .modal-dialog {
        width: 600px;
        margin: 30px auto;
    }

    .modal-content {
        -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
        box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    }

    .modal-sm {
        width: 300px;
    }
}