<!-- Seringa -->
<div id="wrapper">
  <div class="syringe-body">
    <div class="tip-needle"></div>
    <div class="syringe-handle"></div>
    <div class="liquid"></div>
    <div class="measurements">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
    <div class="drop_1"></div>
    <div class="drop_2"></div>
  </div>
</div>